* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-bg: #b88e2f;
  --right:#e0ebf4;
  --midle:#e1ced5;
  --left:#fcebc4;
}
body {
  font-family: sans-serif;
  background-color: #ffffff;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px;
  font-weight: bold;
}

#hero {
  background-image: url("./assets/images/hore-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.fs-16 {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.navbar {
  z-index: 99;
}

.custCard {
  background-image: url("./assets/images/hero-heading.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.custbtn {
  background-color: var(--heading-bg) !important;
  width: 190px;
  height: 66px;
  font-size: 17px !important;
  font-weight: bold !important;
}

.bg {
  background-color: #f4f5f7 !important;
}

.card-btn {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 50px;
  background-color: #ffffff !important;
  color: var(--heading-bg) !important;
  opacity: 0;
  transition: all 0.6s;
}
.card-btn:hover {
  opacity: 1;
}

.show-more{
  color: var(--heading-bg) !important;
  border: 2px solid var(--heading-bg) !important;
  background-color: transparent !important;
  width: 160px;
  height: 45px;
}

#slider{
  background-image: url("./assets/images/BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.heading{
  font-size: 37px;
  font-weight: 700;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px !important;
  height: 500px !important;
}

footer{
  /* background-image: url("./assets/images/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* background-size: 100% 100%; */
  background-image: linear-gradient(to right, var(--left) , var(--midle),var(--right));
}

.fs-22{
  font-size: 22px;
  font-weight: bold;
}

#shopBg{
  background-image: url("./assets/images/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 43vh;
}


.filter-section{
  background-color: #f9f1e7;
}

.end-12{
  right: 14px;
  top: 8px;
}

.topBrand{
  width: 36px;
  height: 36px;
  font-size: 12px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
}

.brandSection{
  background-color: #faf3ea;
}